/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar-right {
  padding-right: 25px;
}

ul.footer {
  list-style-type: none;
  padding: 15px;
}

ul.footer li a {
  color: #777;
}

ul.footer li a:hover {
  color: #333;
  text-decoration: none;
}

ul.social-nav li a{
 padding-left: 5px;
 padding-right: 5px;
}

li.social {
  padding-top: 15px;
}
/*body { 
  background-image: url("explore-1-R9.png");
}
*/